.header{
    background: linear-gradient(to bottom, #2193b0, #6dd5ed);
    border-bottom: 1px solid #ffff;
    width: 100%;
    position: fixed;
    z-index: 100;
    transition: all 0.5s ease 0s;
}

.navbar{
    width: 100%;
    height: 60px;
    text-align: center;
    color: #ffff;
    display: block;
    overflow-x: auto;

    ul{
        transform: translateY(40%);
        padding: 0;

        a, a:not([href]){
            margin: 3%;
            font-weight: 600;
            color: #ffff;
            text-decoration: none;
            cursor: pointer;

            &:hover{
                color: rgb(200, 200, 200);
            }

            &.active{
                border-bottom: 1px solid #ffff;
            }
        }
    }
}
